{% extends 'base.html.twig' %}

{% block title %}Games list{% endblock %}

{% block body %}
<h2 class= "text-center my-5"> My games </h2>
<section class="container my-5">
<div class="row gap-3 justify-content-center">
{% for store in store %}
    <div class="col-md-3 border bg-dark text-light rounded-3">
        <h4 class="text-center">{{ store.name }}</h4>
        <img class="img-fluid" src="{{ store.imageUrl }}" alt="">
    </div>
{% endfor %}
</div>
</section>
{% endblock %}
