{% extends 'base.html.twig' %}

{% block title %}Games list{% endblock %}

{% block body %}
<h2 class= "text-center my-5"> My games </h2>
<section class="container my-5">
<div class="row gap-3 justify-content-center">
{% for game in games %}
    <div class="col-md-3 border bg-dark text-light rounded-3">
        <h4 class="text-center">{{ game.name }}</h4>
        <a href="{{path('game_item', { id: game.id }) }}"><img class="img-fluid rounded-3" src="https://img.phonandroid.com/2019/04/psn-pseudo-changer.jpg" alt=""></a>
        <p class= "p-3">
            {{ game.description }}
        </p>
    </div>
{% endfor %}
</div>
</section>
{% endblock %}
