{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <h1>Create new Game</h1>

    {{ include('game/_form.html.twig') }}

    <a class="text-decoration-none text-light bg-dark" href="{{ path('app_game_index') }}">back to list</a>
{% endblock %}
